<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mna_rajput.uicomponentlab3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UIinterfaceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".UISelectionActivity" />
        <activity android:name=".AlertBuilderActivity" />
        <activity android:name=".CheckboxActivity" />
        <activity android:name=".RadiobtnActivity" />
        <activity android:name=".AutoCompleteActivity" />
        <activity android:name=".RatingbarActivity" />
        <activity android:name=".ListviewActivity"></activity>
    </application>

</manifest>